.register{
    text-align: center;
    padding-top: 1rem;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    .logo {
        width: 4rem;
        height: 4rem;
        border-radius: 0.2rem;
    }
}